
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> E CART BUSSINESS</title>
    <link rel="stylesheet" type="text/css", href="static/index.css "/>
</head>
<body background="templates/art.jpg">
<center>
    <h1>WECOME TO E CART BUSSINESS</h1>
    <H3> Online Easy Shopping </H3>
</center>
<table align="center">
    <th>
        <a href="index.hml" >HOME</a> <br>
         <a href="about.html">ABOUT</a><br>
           <a href="login.html"> LOGIN or REGISTRATION </a><br>
             <a href="help.html">HELP</a>
    </th>
</table>

</body>
</html>